body {
	background-color: #333;
	color: #ccc;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 1rem;

	h1 {
		margin: 0;
		font-size: 1.8rem;
	}

	h2 {
		background: #444;
	}

	.rule {
		margin-bottom: 1rem;
		.frontSide {
			cursor: pointer;
		}
		.backSide {
			background-color: #222;
			margin: .7rem;
			padding: .7rem;
			color: rgb(216, 216, 84);
			ul {
				margin: .5rem 0 0 0;
			}
			ul.notes {
				color: lightgreen;
			}
			ul.examples {
				color: orange;
			}
		}
	}

	.verb {
		margin-bottom: 1rem;

		.spanish {
			color: #333;
		}
	}
}